<!DOCTYPE html>
<html>
  <head>
    <title>ヘルスケアアプリ</title>
    <link rel="icon" href="favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
    <div class="bg">
    <h1>ようこそヘルスケアアプリへ</h1>
    <br><br><br><br><br><br><br><br>
    <h2><u>ヘルスケアアプリは体重と体温、健康状態を管理できるアプリです。</u></h2>
    <br><br><br><br><br>
    <p class="mt-4"><a href="/health"><button type="button" class="btn btn-success">さあ、始めよう！</button></a>
    </div>
  </body>
  <style>
    p{
      text-align: center;
    }
    h1{
      font-size: 75px;
    }
  </style>
</html>


